# deps & build
node_modules/
dist/
build/
coverage/
.next/
.turbo/

# env & secrets
.env
.env.*
!.env.example

# os & editor
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# native
ios/Pods/
android/.gradle/
android/build/
android/app/build/

# expo
.expo/
.expo-shared/
